.nav-folder:not(.mod-root) .nav-folder-title-content::before {
  display: inline-block;
  content: "";
  margin-right: 5px;
  vertical-align: text-bottom;
  height: 16px;
  width: 16px;
  background-color: grey;
}

.nav-folder:not(.mod-root):not(.is-collapsed) .nav-folder-title-content::before {
  -webkit-mask: url('https://api.iconify.design/material-symbols/folder.svg');;
}

.nav-folder:not(.mod-root).is-collapsed .nav-folder-title-content::before {
  -webkit-mask: url('https://api.iconify.design/material-symbols/folder.svg');;
}

.nav-file-title-content::before {
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-bottom;
  height: 16px;
  width: 16px;
}

.nav-file-title[data-path$="png"] .nav-file-title-content:before{
content: url('https://api.iconify.design/clarity/image-line.svg?color=gray');
}

.nav-file-title[data-path$="md"] .nav-file-title-content:before{
content: url('https://api.iconify.design/bi/file-text.svg?color=gray');
}

.nav-file-title[data-path$="pdf"] .nav-file-title-content:before{
content: url('https://api.iconify.design/bi/file-pdf.svg?color=gray');